:root {
	--bg: #fff;
	--signInTheme: #fff;
}
body {
	overflow: hidden;
}
.signInOuterContainer {
	display: flex;
	width: 100vw;
	height: 100vh;
	/* background: rgb(2,0,36); */
	background: rgba(244, 244, 245, 0.96);
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.Title {
	position: relative;
	font-size: 2.5em;
	color: rgba(28, 88, 204, 0.87);
	align-self: center;
	font-family: poppins-medium, serif;
	justify-self: center;
}
.signInOuterContainer .signInInnerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30vw;
	height: 30vw;
	background-color: transparent;
	border-radius: 35px;
}
.signInInnerContainer .formFields {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.formFields .signinrow {
	width: 90%;
	height: 20%;
	margin-bottom: 2%;
}
.signInInnerContainer .submitButton {
	width: 50%;
	height: 15%;
	background-color: rgb(0, 66, 131);
	margin-top: 5%;
	border-radius: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: poppins-regular;
	font-size: 1.5em;
	color: white;
	cursor: pointer;
}
.signInInnerContainer .submitButton:hover {
	background-color: rgb(0, 57, 228);
	cursor: pointer;
	transition: 0.2s ease-in;
}
.signInInput {
	position: relative;
	border: 0;
	width: 95%;
	outline: 2px solid #686d94;
	padding: 10px;
	margin-top: 5%;
	font-style: normal;
	background-color: white;
	border-radius: 1em;
	line-height: 20px;
	font-size: 20px;
}
.signInPlaceholder {
	position: relative;
	pointer-events: none;
	transition: all 0.5s ease;
	color: #2b519a;
	left: 3%;
	top: -47%;
	font-family: poppins-regular;
	background-color: transparent;
}
.signinrow input:focus,
.signinrow input:valid {
	border-bottom: 3px solid var(--signInTheme) !important;
	transition: all 0.7s ease;
}
.signinrow input:focus + .signInPlaceholder,
.signinrow input:not(:focus):valid + .signInPlaceholder {
	top: -97%;
	left: 0%;
	background-color: transparent;
	color: rgb(0, 66, 131);
}


.signInText:hover {
	cursor: pointer;
}
.notregisteredtext {
	color: rgb(0, 66, 131);
	font-family: poppins-regular;
}
.aboutus {
	position: absolute;
	top:25%;
	left:70%;
	width: 40%;
}
.aboutus .Title{
	color: #2b519a;
}
.aboutus .content{

	position: absolute;
	font-family: sans-serif;
    font-weight: 800;
    font-size: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background: transparent;
}